<!doctype html>
<html>

<head>
    <title>GemStore</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- My Code -->
 </head>

<body ng-app="myApp">
    <nav class="navbar navbar-inverse"> <span class="navbar-brand">GemStore</span> 
    <a ng-href="/" >Home</a><a ng-href="#!/page1" >Page 1</a><a ng-href="#!/page2" >Page 2</a><div></div></nav>
    <main class="container">
        

        <div class="row" ng-controller="myController">
            <div ng-show="authenticated"><a href ng-click="Logout()" class="btn btn-default">LogOut</a></div>
<div ng-hide="authenticated">
    <form class="form-inline">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" name="email" ng-model="email" type="email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" ng-model="password" type="password" required/> 
        </div>
        <input type="submit" ng-click="Login()" value="Login" class="btn btn-default" />
        <input type="submit" ng-click="Register()" value="Register" class="btn btn-default" /> 
    </form>
</div>
            <ng-view></ng-view>
            
        </div>
        <!--<my-directive></my-directive>-->
    </main>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <!-- Angular Router -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js" type="text/javascript"></script>
    <!-- My Code -->
    <script src="app.js"></script>
    <script src="storeProducts.js"></script>
    
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script><script src="gravatar.js" type="text/javascript"></script><script src="adorable.js" type="text/javascript"></script>
    
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
    // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCMP7gc1fKU5c2QBoCMIPVUUkIeWmKRuAM",
    authDomain: "gemstore-bc4de.firebaseapp.com",
    databaseURL: "https://gemstore-bc4de.firebaseio.com",
    projectId: "gemstore-bc4de",
    storageBucket: "",
    messagingSenderId: "162369582194"
  };
  firebase.initializeApp(config);
</script>
</body>

</html>
