<h4>Reviews</h4>
<img ng-init="avatar = Avatar.generate(review.author)" ng-src="{{avatar}}" />

<blockquote ng-repeat="review in product.reviews"> <b>Stars: {{review.stars}}</b> {{review.body}} <cite>by: {{review.author}}</cite> </blockquote>
<h4>Write a Review</h4>
<form name="reviewForm" ng-submit="addReview(product)" novalidate>
    <div class="alert alert-danger" ng-show="(reviewForm.stars.$dirty && reviewForm.stars.$invalid) || (reviewForm.body.$dirty && reviewForm.body.$invalid) || (reviewForm.author.$dirty && reviewForm.author.$invalid)" role="alert">
        <ul>
            <li ng-show="reviewForm.stars.$dirty && reviewForm.stars.$invalid">Rating is required</li>
            <li ng-show="reviewForm.body.$dirty && reviewForm.body.$invalid">Review is required</li>
            <li ng-show="reviewForm.author.$dirty && reviewForm.author.$invalid">Email is required</li>
        </ul>
    </div>
    <blockquote> <b>Stars: {{newReview.stars}}</b> {{newReview.body}} <cite>by: {{newReview.author}}</cite> </blockquote>
    <div class="form-group" ng-class="{'has-error':reviewForm.stars.$dirty && reviewForm.stars.$invalid}">
        <label class="control-label" for="stars">Rating</label>
        <select name="stars" class="form-control" ng-model="newReview.stars" required>
            <option value="">Select a Rating</option>
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
        </select>
    </div>
    <div class="form-group" ng-class="{'has-error':reviewForm.body.$dirty && reviewForm.body.$invalid}">
        <label class="control-label" for="body">Review</label>
        <textarea name="body" class="form-control" placeholder="Write your review..." ng-model="newReview.body" required></textarea>
    </div>
    <div class="form-group" ng-class="{'has-error':reviewForm.author.$dirty && reviewForm.author.$invalid}">
        <label class="control-label" for="author">Email Address</label>
        <input type="email" placeholder="Email Address" name="author" class="form-control" ng-model="newReview.author" required /> </div>
    <input type="submit" value="Add Review" class="btn btn-default" /> </form>